{% extends 'anime_series/nav.html' %}
{%block content%}
    <header>
        <h1 class="title">Top Animes of All Time!</h1>
    </header>
    <main>
        <div class="main_page_wrap">
            {% for anime in animeseries %}
            <div class="row">
                <h2 class="anime_title">{{anime.name}}</h2>
            <div class="bio_container">
                <img id="Images" src="{{ anime.image }}">
                <div data-filename="{{ anime.image }}" class="anime_bio">{{anime.description}}</div>
            </div>
            <button><a href="{% url 'anime-individual' anime.id %}">Details</a></button>
            </div>
            {% endfor %}
        </div>
    </main>
{% endblock content %}

