{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <div class="outer_login"> 
          <div class="inner_login">
            
            <h1>Create Character</h1>
            <form class="containeer" method="post">
              {%csrf_token%} {{form.as_p}}
              <button>~</button>
            </form>
          </div>
          <div class="gif">
            <img class="login_gif" src="{% static 'anime_img/dynamic.jpeg' %}">
          </div>
        </div>
        
        </main>
</body>
</html>
