{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anime List</title>
    <link rel="stylesheet" href="{% static "css/anime.css" %}">
</head>
<body>
    <header>
        <h1 class="title2">{{anime.name}}</h1>
    </header>
<main>
<img id="Images2" src="{{ anime.image }}">
<p class="bio2" >{{ anime.description }}</p>
<h1>Meet the Crew! </h1>
<div class="grid-container">
    <div class="item">
        <div class="picture">
        {% for character in characters %}
        <img id="Images3" src="{{character.image }}">
        {% endfor %}
        </div>
    </div>
</div>
    </main>
</body>
</html>