{%load static%}
<!DOCTYPE html>
<html>
<head>
    <div class="header">
        a
    </div>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{%static 'css/anime.css' %}">
</head>

<body>
    <header>
    <nav>
        <ul>
        {% if  request.user.is_authenticated %}
            {% comment %} <li><a href= {%url "show_my_tasks" %}></a></li>
            <li><a href= {%url "list_projects" %}></a></li> {% endcomment %}
            <li><a href= {%url "logout" %}>Logout</a></li>

        {%else%}
            <li><a href= {%url "login" %}>Login</a></li>
            {% comment %} <li><a href= {%url "signup" %}> Signup</a></li> {% endcomment %}
            {%endif%}
        </ul>
    </nav>
</header>
{% block content %} {% endblock %}
</body>
<footer>
`<div>
    s
</div>
</footer>
</html> 

