
.title{
    text-align: center;
}


.anime_title{
    text-align: center;
    color: white;
}

.bio{
    color: white;
    text-align: center;
    margin-bottom: 40px;
    margin-top: 5px;

}
header{
    color: white;
}
body{
    background-color: rgb(24, 24, 24);
}

.row{
    padding: 20px;
    margin: 10px auto;
}

#Images{
    margin: auto;
    box-shadow: 2px 2px 2px rgb(170, 170, 170);
    border-radius: 2%;
    width: 380px;
    height: 200px;
    object-fit: cover;

}



.bio2{
    color: white;
    margin-bottom: 40px;
    margin-top: 5px;
    padding: 10px;
    border: 5px solid white;
}

.title2{
    color: white;

}

.name{
    color: white;
    margin: auto;
    text-align: center;
}


.main_page_wrap{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 10px;
    margin: 20px auto;
}

.item{
    padding: 20px;
    font-size: 30px;
    text-align: center;
    margin: 10px auto;
}

.bio2{
    font-size: 20px;
    text-align: center;
}

#Images2{
    height: 80vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    border-radius: 4px;
    object-fit: cover;
}


#Images3{
    width: 350px;
    height: 500px;
    border-radius: 5px;
    margin: 40px;
    animation: floatImage 4s ease-in-out infinite;
    object-fit: cover;
}

@keyframes floatImage {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-25px);
    }
    100% {
        transform: translateY(0);
    }
}

.inner_login {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 1px solid black;
    padding: 20px;
    background-color: #1c1c1c;
    border-radius: 8px;
}

.inner_login::before{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg, transparent, transparent, #45f3ff, #45f3ff, #45f3ff);
    z-index: 1;
    animation: animate 6s linear infinite;
}

@keyframes animate{
    0%
    {
        transform: rotate(0deg);
    }
}
.inner_login form h1{
    color: white;
    font-weight: 500;
    text-align: center;
    letter-spacing: .1em;
    width: 350px;
    margin-left: 25px;

}

.label{
    margin-left: 25px;
    left: 0;
    padding: 20px 10px 10px;
    pointer-events: none;
    color: #8f8f8f;
    font-size: 1em;
    letter-spacing: .05em;
    transition: .5s;
}



.login_font{
    inset: 4px;
    background: #222;
    padding: 150px 50px;
    z-index: 2;
    display: flex;
    flex-direction: column;


}

.input_box input {
    position: relative;
    width: 300px;
    margin-top: 35px;
    margin-left: 25px;
    padding: 20px 10px 10px;
    background: transparent;
    outline: none;
    box-shadow: none;
    color: #23242a;
    font-size: 1em;
    letter-spacing: .05em;
    transition: .5s;
    z-index: 10;
    border: none;
}

.button_login{
    position: relative;
    width: 300px;
    margin-left: 25px;
}




/* .inner_login{
    inset: 4px;
    background: #222;
    padding: 50px 40px;
    border-radius: 8px;
    z-index: 2;
    display: flex;
    flex-direction: column;

}


p label[for="id_password"]{
    color: blue;
}

p label[for="id_username"]{
    color: red;
}

p input{
    position: relative;
    width: 300px;
    margin-top: 20px;
} */






.outer_login {
    width:100%;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background-color: #23242a;
    /* background-image: url("https://www.pixelstalk.net/wp-content/uploads/2016/10/Anime-Landscape-Wallpaper-HD.jpg"); */
    background-size: cover;
    background-position: 25%;

}

body{
    height: 100vh;

}

.gif{
    height: 706px;
}

.login_gif{
    height: 707px;
    width: 900px;
    border-radius: 8px;
}

footer{
    background-color: aqua;
    margin: auto;
}

.header{
    background-color: aqua;
    margin: auto;
}

.bio_container:hover .anime_bio{
    background-image: url(attr(data-filename));
    overflow: hidden;
    background-color: rgba(36, 36, 36, 0.75);
    transition: .5s ease;
    color: white;
    visibility: visible;
}

.anime_bio{
    visibility: hidden;
    top: 0;
    position: absolute;
}

.bio_container{
    position: relative;
    overflow: scroll;

}

.bio_container img{
    position: sticky;
    top: 0;
}