{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="{% static 'css/anime.css' %}">
</head>
<body>
  <main>
  <div class="outer_login">
    <div class="inner_login">
      <form class="container" method="post">
        {% csrf_token %}
        <div class="login_font">
          <h1>Sign in</h1>
          {% for field in form %}
          <div class="fieldWrapper">
            {{ field.errors }}
            <div class="input_box">{{ field }} </div>
            <div class="label">{{ field.label_tag }} </div>
          </div>
          {% endfor %}
        <div class="button_login"><button>Login</button></div>
        </div>
      </form>
    </div>
    <div class="gif">
      <img class="login_gif" alt="login_image" src="{% static 'anime_img/dynamic.jpeg' %}" height=706px width="auto">
    </div>
  </div>
  </main>
</body>
</html>
